---
import Layout from '../../layouts/Layout.astro';
import { FetchPosts } from '@/lib/fetchPosts';
import Category from '@/components/ui/category';

const posts = await FetchPosts();
---

<Layout title="Actualités pour vos travaux de rénovation et les aides & financements | ALVA">
  <div class="px-12 py-24 flex justify-center flex-col items-center">
    <div class="w-6/12 text-center">
      <h1>Toute l'actualité sur la rénovation énergétique</h1>
      <p>
        Retrouvez ici tous les articles sur l'actualité de la rénovation de biens immobiliers...
      </p>
    </div>

    <div class="mt-24">
      <ul class="flex gap-4 justify-center">
        {posts.map((post:any) => (
          <li class="w-1/4 border rounded-lg">
            <a href={`/blog/${post.slug}`}>
              <div>
                <img class="h-[150px] w-full object-cover rounded-t-lg" src={post.featured_image_url} alt="">
              </div>
              <div class="p-8">
                <div class="mb-3">
                  <Category client:load categories={post.categories} />
                </div>
                <h2 class="text-lg" set:html={post.title.rendered}></h2>
                <div set:html={post.excerpt.rendered}></div>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</Layout>
